body
{
	background-color: #990033;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

	.container
{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
}

.container .box
{
position: relative;
width: calc(400px - 30px);
height: calc(300px - 30px);
background: #000;
float: left;
margin: 15px;
box-sizing: border-box;
overflow: hidden;
border-radius: 13px;
}

#searchBar{
	border:1px solid #000;
	border-right: none;
	font-size: 16px;
	padding: 10px;
	outline: #741b47;
	width: 250px;
	height: 15px;
	/*chrome*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	/*Modzilla*/
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
#searchBtn{
border:1px solid #000;
font-style: 16px;
padding: 10px;
height: 37px;
/*unsure why height at 37px is equal to searchBar height of 15px*/
background: #f1d829;
font-weight:bold;
cursor: pointer;
outline: #741b47;
/*chrome*/
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	/*Modzilla*/
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#searchBtn:hover {
	background: #f6e049;
}

.container .box .icon
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

.container .box:hover .icon
{
	top:20px;
	right: calc(50%-40px);
	width:80px;
	height:80px;
	border-radius: 50%;
}
.container .box .icon .fa
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
}

.container .box:hover .icon .fa
{
	font-size: 40px;
}

.container .box .content
{
	position: absolute;
	top: 100%;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}


.container .box:hover .content
{
	top: 100px;
	opacity: 1;
}

.container .box .content h3
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.container .box .content p
{
	margin: 0;
	padding: 0;
	color: #fff;
}

.container .box:nth-child(1).icon
{
	background: #23798e;
}

.container .box:nth-child(1)
{
	background: #328fa5;
}
.container .box:nth-child(2).icon
{
	background: #d03852;
}

.container .box:nth-child(2)
{
	background: #f54967;
}

.container .box:nth-child(3).icon
{
	background: #23798e;
}

.container .box:nth-child(3)
{
	background: #328fa5;
}

/* first three boxes end here */ 

.container2
{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
}
.container2 .box2
{
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #ff0;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}
 
.container2 .box2 .icon
{	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

.container2 .box2:hover .icon
{
top: 20px;
left: calc(50% - 40px);
width:  80px;
height: 80px;
border-radius: 50%;
}
/* container below is not updatding*/
.container2 .box2 .icon .fa
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 80px;
transition: 0.5s;
color: #fff;
}

.container2 .box2:hover .icon .fa
{
font-size: 40px;
}
.container2 .box2 .content
{
	position: absolute;
	top: 100%;
	height: calc(100%; - 100px);
text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}
.container2 .box2:hover .content
{
top: 100px;
opacity: 1;
}

.container2 .box2 .content h3
{
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.container2 .box2 .content p
{
margin: 0;
padding: 0;
color: #fff;
}
/*not working below*/

.container2 .box2:nth-child(1) .icon
{
	background: #d03852;
}
.container2 .box2:nth-child(1) 
{
	background: #f54967;
}

.container2 .box2:nth-child(2) .icon
{
	background: #319635;
}
.container2 .box2:nth-child(2) 
{
	background: #4caf50;
}

/* Styling taken from https://www.bootstrapcdn.com/fontawesome/ */ 


